<!DOCTYPE html>
	<!--[if IE 8]>
		<html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="zh-CN">
	<![endif]-->
	<!--[if !(IE 8) ]><!-->
		<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
	<!--<![endif]-->
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>LNG舆情收集与分析系统 &rsaquo; 登录</title>
	<link rel='stylesheet' id='buttons-css'  href='http://121.42.223.111/wp-includes/css/buttons.min.css?ver=4.1' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='http://121.42.223.111/wp-includes/css/dashicons.min.css?ver=4.1' type='text/css' media='all' />
<link rel='stylesheet' id='login-css'  href='http://121.42.223.111/wp-admin/css/login.min.css?ver=4.1' type='text/css' media='all' />
<script type='text/javascript' src='http://121.42.223.111/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='http://121.42.223.111/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<meta name='robots' content='noindex,follow' />
	</head>
	<body class="login login-action-login wp-core-ui  locale-zh-cn">
	<div id="login">
		<h1><a href="https://cn.wordpress.org/" title="基于WordPress" tabindex="-1">LNG舆情收集与分析系统</a></h1>
	<div id="login_error">	<strong>错误</strong>：Cookies被阻止或者您的浏览器不支持。要使用WordPress，您必须<a href="http://codex.wordpress.org/Cookies">启用cookies</a>。<br />
</div>

<form name="loginform" id="loginform" action="http://121.42.223.111/wp-login.php" method="post">
	<p>
		<label for="user_login">用户名<br />
		<input type="text" name="log" id="user_login" class="input" value="" size="20" /></label>
	</p>
	<p>
		<label for="user_pass">密码<br />
		<input type="password" name="pwd" id="user_pass" class="input" value="" size="20" /></label>
	</p>
		<p class="forgetmenot"><label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever"  /> 记住我的登录信息</label></p>
	<p class="submit">
		<input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="登录" />
		<input type="hidden" name="redirect_to" value="http://121.42.223.111/wp-admin/index.php" />
		<input type="hidden" name="testcookie" value="1" />
	</p>
</form>

<p id="nav">
	<a href="http://121.42.223.111/wp-login.php?action=lostpassword" title="找回密码">忘记密码？</a>
</p>

<script type="text/javascript">
function wp_attempt_focus(){
setTimeout( function(){ try{
d = document.getElementById('user_login');
d.focus();
d.select();
} catch(e){}
}, 200);
}

wp_attempt_focus();
if(typeof wpOnload=='function')wpOnload();
</script>

	<p id="backtoblog"><a href="http://121.42.223.111/" title="不知道自己在哪？">&larr; 回到LNG舆情收集与分析系统</a></p>
	
	</div>

	
		<div class="clear"></div>
	</body>
	</html>
	